.green {
  color: green;
  font-style: italic;
  font-size: 30px;
}
.red {
  color: tomato; /* tomato is better than red */
}
.podkresleno {
  text-decoration: underline;
}
.black {
  color: black;
  font-style: italic;
}
